.kvittoBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kvittoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    inline-size: 50%;
    block-size: 70vh;
    background-color: red;
    padding: 20px;
}
