* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: neo-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding: 50px 0;
}

.wrapper {
  max-inline-size: 1350px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 70px;
  background-color: #f0f0f0;
  inline-size: 90%;
  -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15), -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15), -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin: 0 auto;
}

.nav .cartBtn {
  block-size: 44px;
  padding: 0 40px;
  margin: 0 20px 0 0;
  border: none;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.shoppingCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100vh;
  inline-size: 100vw;
  background-color: #00000090;
}

.shoppingCart .shoppingCartContainer {
  inline-size: 50%;
  block-size: 90%;
  background-color: #f0f0f0;
  border: 15px solid #f0f0f0;
  padding: 30px;
  border-radius: 50px;
  -webkit-box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.3), inset -6px -6px 6px 0px white, 6px 6px 6px 0px rgba(0, 0, 0, 0.3), -6px -6px 6px 0px rgba(255, 255, 255, 0.1);
          box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.3), inset -6px -6px 6px 0px white, 6px 6px 6px 0px rgba(0, 0, 0, 0.3), -6px -6px 6px 0px rgba(255, 255, 255, 0.1);
}

.shoppingCart .shoppingCartContainer .productInCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 100px;
  background-color: #f0f0f0;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15), -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15), -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
}

.shoppingCart .shoppingCartContainer .productInCart .productInCartImgWrapper {
  inline-size: 20%;
  block-size: 100%;
  background-color: grey;
}

.shoppingCart .shoppingCartContainer .productInCart .productInCartImgWrapper .productInCartImgWrapperImg {
  block-size: 100%;
  inline-size: 100%;
}

.shoppingCart .shoppingCartContainer .productInCart .countBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  inline-size: 30%;
}

.shoppingCart .shoppingCartContainer .productInCart .countBtn .countBtnMinus,
.shoppingCart .shoppingCartContainer .productInCart .countBtn .countBtnPlus {
  inline-size: 50px;
  block-size: 50px;
  border: none;
  border-radius: 50px;
  font-size: 36px;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15), -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15), -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
}

.shoppingCart .shoppingCartContainer .productInCart .deleteBtn {
  inline-size: 13%;
  block-size: 100%;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
}

.productContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 50px;
  justify-items: center;
  padding: 50px 0;
}

@media screen and (min-width: 800px) {
  .productContainer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1150px) {
  .productContainer {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-inline-size: 340px;
  max-inline-size: 360px;
  background-color: #f0f0f0;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15), -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15), -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
}

.productImgWrapper {
  inline-size: 90%;
  block-size: 40%;
  background-color: #f0f0f0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30px;
  overflow: hidden;
  margin: 5% 0 0 0;
  padding: 14px;
  -webkit-box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.15), inset -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.15), inset -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
}

.productImgWrapper__img {
  -o-object-fit: cover;
     object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.productName {
  padding: 10px 20px;
  text-align: center;
}

.productPrice {
  padding: 10px 20px;
  text-align: center;
}

.countContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 80%;
  block-size: 70px;
  background-color: #f0f0f0;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 20px;
  margin: 0 0 10% 0;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
}

.countContainer__minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 46px;
  inline-size: 46px;
  background-color: #f0f0f0;
  border-radius: 100%;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15), -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15), -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.countContainer__count {
  font-weight: 700;
}

.countContainer__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 46px;
  inline-size: 46px;
  background-color: #f0f0f0;
  border-radius: 100%;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15), -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15), -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.addBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  inline-size: 80%;
  block-size: 70px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  margin: 0 0 10% 0;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15), -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */