* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    font-family: neo-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    padding: 50px 0;
}
.wrapper {
    max-inline-size: 1350px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    block-size: 70px;
    background-color: #f0f0f0;
    inline-size: 90%;
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15),
        -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin: 0 auto;
    .cartBtn {
        block-size: 44px;
        padding: 0 40px;
        margin: 0 20px 0 0;
        border: none;
        box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15),
            -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        font-weight: 700;
        cursor: pointer;
    }
}
.shoppingCart {
    display: flex;      
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    block-size: 100vh;
    inline-size: 100vw;
    background-color: #00000090;
    .shoppingCartContainer {
        inline-size: 600px;
        block-size: 90%;
        background-color: #f0f0f0;
        border: 15px solid #f0f0f0;
        padding: 30px;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.3),
            inset -6px -6px 6px 0px rgba(255, 255, 255, 1),
            6px 6px 6px 0px rgba(0, 0, 0, 0.3),
            -6px -6px 6px 0px rgba(255, 255, 255, 0.1);
        .productInCart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            block-size: 100px;
            // inline-size: 70%;
            background-color: #f0f0f0;
            border: 10px solid #f0f0f0;
            border-radius: 30px;
            overflow: hidden;
            padding: 12px;
            box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.3),
                inset -6px -6px 6px 0px rgba(255, 255, 255, 1),
                8px 8px 8px 0px rgba(0, 0, 0, 0.15),
                -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
            .productInCartImgWrapper {
                inline-size: 20%;
                block-size: 100%;
                background-color: grey;
                border-radius: 10px;
                overflow: hidden;
                .productInCartImgWrapperImg {
                    block-size: 100%;
                    inline-size: 100%;
                }
            }
            .countBtn {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                inline-size: 30%;
                .countBtnMinus,
                .countBtnPlus {
                    inline-size: 45px;
                    block-size: 45px;
                    border: none;
                    border-radius: 50px;
                    font-size: 36px;
                    cursor: pointer;
                    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15),
                        -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
                }
            }
            .deleteBtn {
                inline-size: 13%;
                block-size: 100%;
                background-color: red;
                border: none;
                border-radius: 10px;
                outline: none;
                cursor: pointer;
                font-size: 20px;
                font-weight: 700;
                box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.3),
                    inset -6px -6px 6px 0px rgba(255, 255, 255, 0.2),
                    8px 8px 8px 0px rgba(0, 0, 0, 0.15),
                    -8px -8px 8px 0px rgba(255, 255, 255, 0.6);
                border: 5px solid red;
            }
        }
    }
}
.productContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    justify-items: center;
    padding: 50px 0;
}
@media screen and (min-width: 800px) {
    .productContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1150px) {
    .productContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // block-size: 500px;
    min-inline-size: 340px;
    max-inline-size: 360px;
    background-color: #f0f0f0;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.15),
        -8px -8px 6px 0px rgba(255, 255, 255, 0.6);
}
.productImgWrapper {
    inline-size: 90%;
    block-size: 40%;
    background-color: #f0f0f0;
    align-self: center;
    border-radius: 30px;
    overflow: hidden;
    margin: 5% 0 0 0;
    padding: 14px;
    box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.15),
        inset -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
    &__img {
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;
        background-color: #f0f0f0;
        border-radius: 20px;
    }
}
.productName {
    padding: 10px 20px;
    text-align: center;
}
.productPrice {
    padding: 10px 20px;
    text-align: center;
}
.countContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    inline-size: 80%;
    block-size: 70px;
    background-color: #f0f0f0;
    align-self: center;
    border-radius: 20px;
    margin: 0 0 10% 0;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15),
        -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
    &__minus {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 46px;
        inline-size: 46px;
        background-color: #f0f0f0;
        border-radius: 100%;
        box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15),
            -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
        border: none;
    }
    &__count {
        font-weight: 700;
    }
    &__plus {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 46px;
        inline-size: 46px;
        background-color: #f0f0f0;
        border-radius: 100%;
        box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.15),
            -6px -6px 4px 0px rgba(255, 255, 255, 0.6);
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
        border: none;
    }
}
.addBtn {
    align-self: center;
    inline-size: 80%;
    block-size: 70px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    margin: 0 0 10% 0;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15),
        -6px -6px 6px 0px rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
