* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: neo-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.wrapper {
  max-inline-size: 1350px;
}

.nav {
  block-size: 70px;
  background-color: #1f30ff;
}

.productContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  justify-items: center;
  padding: 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-inline-size: 320px;
  max-inline-size: 340px;
  background-color: #f0f0f0;
  border-radius: 40px;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.1), -8px -8px 6px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.1), -8px -8px 6px 0px rgba(255, 255, 255, 0.5);
}

.productImgWrapper {
  inline-size: 90%;
  block-size: 40%;
  background-color: #f0f0f0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30px;
  overflow: hidden;
  margin: 5% 0 0 0;
  -webkit-box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.1), inset -6px -6px 6px 0px rgba(255, 255, 255, 0.5);
          box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, 0.1), inset -6px -6px 6px 0px rgba(255, 255, 255, 0.5);
}

.productImgWrapper__img {
  -o-object-fit: cover;
     object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  background-color: #f0f0f0;
}

.productName {
  padding: 10px 20px;
  text-align: center;
}

.productPrice {
  padding: 10px 20px;
  text-align: center;
}

.countContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 80%;
  block-size: 70px;
  background-color: #f0f0f0;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 20px;
  margin: 0 0 10% 0;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1), -6px -6px 6px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1), -6px -6px 6px 0px rgba(255, 255, 255, 0.5);
}

.countContainer__minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 46 px;
  inline-size: 46px;
  background-color: #f0f0f0;
  border-radius: 100%;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.1), -6px -6px 4px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.1), -6px -6px 4px 0px rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.countContainer__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  block-size: 46px;
  inline-size: 46px;
  background-color: #f0f0f0;
  border-radius: 100%;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.1), -6px -6px 4px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.1), -6px -6px 4px 0px rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.addBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  inline-size: 80%;
  block-size: 70px;
  background-color: #1f7eff;
  border: none;
  border-radius: 20px;
  margin: 0 0 10% 0;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.2), -6px -6px 6px 0px white;
          box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.2), -6px -6px 6px 0px white;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */